@import "tailwindcss";

@layer {
    .list {
        @apply border-1 border-[#4e4e4e] w-[477px] max-md:w-[390px] max-sm:w-[300px] px-[16px] pt-[16px] pb-[24px]
        rounded-[12px] max-md:overflow-hidden max-sm:px-[8px]
    }

    .tasks {
        @apply flex flex-col space-y-[12px]
    }
}