@import "tailwindcss";

@theme {
  --color-bg: #252628;
  --color-bgLight: #5B5B5B;
  --color-success: #029008;
  --color-danger: #AF0505;
  --color-gray: #646570;
  --color-redLight: #DDA9A9;
  --color-lowPrio: #46F7B7;
  --color-lowPrioText: #096343;
  --color-mediumPrio: #F5EB88;
  --color-mediumPrioText: #653408;
  --color-highPrio: #FFA775;
  --color-highPrioText: #702D08;
  --color-veryHighPrio: #F27F77;
  --color-veryHighPrioText: #5F0F0B;
  
  --font-family-poppins: 'Poppins', system-ui, sans-serif;
}

@layer {
    .taskcard {
        @apply w-[445px] h-[221px] border-1 border-[#4E4E4E]
        rounded-[8px] hover:border-white flex flex-col space-y-[12px]
        py-[8px] px-[8px]
        duration-300 ease-out hover:bg-linear-to-r from-[#232323] to-[#393939]
    }

    .latetaskcard {
        @apply w-[445px] h-[221px] border-1 border-[#4E4E4E]
        rounded-[8px] hover:border-white flex flex-col space-y-[12px]
        py-[8px] px-[8px]
        duration-300 ease-out hover:bg-linear-to-r from-[#553434] to-[#381D1D]
    }

    .finishedtaskcard {
        @apply w-[445px] h-[221px] border-1 border-[#4E4E4E]
        rounded-[8px] hover:border-white flex flex-col space-y-[12px]
        py-[8px] px-[8px] brightness-[0.60]
        duration-300 ease-out hover:bg-linear-to-r from-[#232323] to-[#393939]
    }

    .finishedlatetaskcard {
        @apply w-[445px] h-[221px] border-1 border-[#4E4E4E]
        rounded-[8px] hover:border-white flex flex-col space-y-[12px]
        py-[8px] px-[8px] brightness-[0.60]
        duration-300 ease-out hover:bg-linear-to-r from-[#553434] to-[#381D1D]
    }

    .lowprioritytag {
        @apply py-[4px] px-[12px] bg-lowPrio text-lowPrioText rounded-[4px] font-semibold
        w-[143px] h-[28px] text-[13px]
    }

    .midprioritytag {
        @apply py-[4px] px-[12px] bg-mediumPrio text-mediumPrioText rounded-[4px] font-semibold
        w-[143px] h-[28px] text-[13px]
    }

    .highprioritytag {
        @apply py-[4px] px-[12px] bg-highPrio text-highPrioText rounded-[4px] font-semibold
        w-[125px] h-[28px] text-[13px]
    }

    .veryhighprioritytag {
        @apply py-[4px] px-[12px] bg-veryHighPrio text-veryHighPrioText rounded-[4px] font-semibold
        w-[160px] h-[28px] text-[13px]
    }

    .datebutton {
        @apply w-[126px] h-[28px] border-none rounded-[4px] bg-[#E0E0E0]
        mt-[4px] font-semibold text-[#646570] text-[13px] flex flex-row items-center
    }

    .latedatebutton {
        @apply w-[126px] h-[28px] border-none rounded-[4px] bg-[#DDA9A9]
        mt-[4px] font-semibold text-[#AF0505] text-[13px] flex flex-row items-center
    }

    .menu {
        @apply bg-bg border-[0.5px] rounded-[4px] border-[#4E4E4E]
        w-[109px] h-[136px]
    }

    .taskcardlock {
        @apply w-[445px] h-[221px] border-1
        rounded-[8px] border-white flex flex-col space-y-[12px]
        py-[8px] px-[8px] bg-linear-to-r from-[#232323] to-[#393939]
    }

    .latetaskcardlock {
        @apply w-[445px] h-[221px] border-1 border-white
        rounded-[8px] flex flex-col space-y-[12px] bg-linear-to-r from-[#553434] to-[#381D1D]
        py-[8px] px-[8px]
    }
}