@import "tailwindcss";

@theme {
  --color-bg: #252628;
  --color-bgLight: #5B5B5B;
  --color-success: #029008;
  --color-danger: #AF0505;
  --color-gray: #646570;
  --color-redLight: #DDA9A9;
  --color-lowPrio: #46F7B7;
  --color-lowPrioText: #096343;
  --color-mediumPrio: #F5EB88;
  --color-mediumPrioText: #653408;
  --color-highPrio: #FFA775;
  --color-highPrioText: #702D08;
  --color-veryHighPrio: #F27F77;
  --color-veryHighPrioText: #5F0F0B;
  
  --font-family-poppins: 'Poppins', system-ui, sans-serif;
}

@layer {
    .form {
        @apply flex flex-col w-[600px] max-md:w-[101vw] min-h-[99vh] border-l-1 border-white pt-[40px] pl-[40px]
        max-md:pl-[20px] space-y-[12px] max-md:space-x-[40px] items-center 
        z-[2000] bg-bg
    }

    .datebutton {
        @apply w-[140px] h-[28px] border-1 border-white rounded-[4px] brightness-300
        mt-[4px] font-semibold text-[#646570] text-[13px] flex flex-row items-center
        space-x-[8px] px-2
    }

}

.react-datepicker-wrapper {
    width: auto !important
}
